body {
    box-sizing: border-box;
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    max-width: 1028px;
    margin: 0 auto;
}

.header {
    margin-top: 46px;
}

.header-box {
    height: 62px;
    display: flex;
    justify-content: space-between;
}

.logo-box {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
    max-width: 180px;
    height: 50px;
    text-decoration: none;
}

.logo-box:hover {
    color: #F26522;
    transition: all 200ms ease-in-out;
}

.logo-box:hover .logo-text {
    color: #F26522;
}

.logo-box:hover .logo-text span {
    color: #F26522;
}

.logo-image {
    width: 53px;
    height: 56px;
    background-image: url(../img/logo.png);
    background-position: 0 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.logo-box:hover .logo-image{
    background-position: -61px 0;
}

.logo-text {
    flex: 0 1;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    padding: 5px 20px 0 8px;
}

.logo-text:hover {
    color: #F26522;
}

.logo-text span {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 29px;
    line-height: 29px;
    color: #FFFFFF;
}

.logo-text:hover span {
    color: #F26522;
}

.contact {
    display: flex;
    flex-direction: column;
    text-align: end;
    justify-content: space-between;
}

.contact-info {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
    text-decoration: none;
}

.contact-info:hover {
    color: #F26522;
    transition: all 200ms ease-in-out;
}

.grid {
    margin-top: 17px;
    display: grid;
    grid-template-columns: repeat(3, 309px);
    grid-auto-rows: 261px;
    grid-gap: 37px 54px;
}

.tour-tittle {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 18px;
    color: #FFFFFF;
}

.tours {
    display: flex;
    justify-content: center;
    position: relative;
}

.tours a {
    text-decoration: none;
}

.tour-caption {
    width: 300px;
    height: 59px;
    position: absolute;
    background-color: #F26522;
    bottom: 40px;
    opacity: 0;
    z-index: -1;
    transition: all 200ms ease-in-out;
}

.tours:hover .tour-caption{
    z-index: 0;
    opacity: 1;
    transition: all 200ms ease-in-out;
}

.tours:hover .tour-tittle {
    color: #F26522;
    transition: all 200ms ease-in-out;
}

.tour-caption-link {
    text-decoration: none;
}

.tour-caption-link span {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
    line-height: 10px;
    color: #FFFFFF;
    padding: 8px 0 0 16px;
}

.tour-info {
    display: flex;
    justify-content: space-between;
    max-width: 268px;
    margin: 12px 0 0 16px;
}

.price {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.view-details {
    display: flex;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
}

.view-details::after {
    content: "\003E";
    padding-left: 16px;
    font-size: 20px;
}

.footer {
    margin-top: 48px
}

.footer-text {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
    text-align: center;
}

